<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Feuerwehr der Stadt Bruneck - Einsatzmanagement</span>
    <div class="image-wrapper" *ngIf="auth.user$ | async as user" [matMenuTriggerFor]="menu">
      <img *ngIf="user.photoURL" [src]="user.photoURL">
      <img *ngIf="!user.photoURL" src="assets/img/user-profile-icon.png">
    </div>
    <mat-menu #menu="matMenu" xPosition="before">
      <app-user-profile></app-user-profile>
    </mat-menu>
  </mat-toolbar>
</header>
