<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Feuerwehr der Stadt Bruneck - Einsatzmanagement</span>
    <ngx-auth-firebaseui-avatar
      [canViewAccount]="true"
      [canEditAccount]="false"
      [canDeleteAccount]="false"
      [textProfile]="'Benutzer anzeigen'"
      [textSignOut]="'Abmelden'"
      (onSignOut)="backToLogin()"
    ></ngx-auth-firebaseui-avatar>
  </mat-toolbar>
</header>
