:host {
  min-height: 100%;
}

.img-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

img{
  max-height: 75vh;
  object-fit: contain;
  &:first-child {
    width: calc(40% - 6px);
  }
  &:last-child {
    width: calc(60% - 6px);
  }
}
