<div class="missions-box bordered-box">
  <button mat-raised-button class="add-button" color="warn" (click)="openDialog()">
    <mat-icon fontIcon="add" class="margin-right-4">add</mat-icon>
    Schadensereignis erstellen
  </button>
  <div class="missions-category-box bordered-box">
    <h2>Schadensereignisse der Feuerwehr Bruneck</h2>
    <p>Ein Schadensereignis ist ein Ereignis, bei dem sehr viele zeitgleiche Einsätze eintreten. Beispiel: Sturm,
      Starkregen,
      Hochwasser, Katastropheneinsatz. Ein Schadensereignis gilt als abgeschlossen, wenn alle einzelnen Einsätze
      abgearbeitet
      wurden.</p>
    <ng-container *ngIf="!isLoading">
      <label id="select-damaging-event">Wähle das gewünschte Schadensereignis aus:</label>
      <mat-radio-group
        [(ngModel)]="userSelections.selectedDamagingEvent.customIdName"
        >
        <mat-radio-button class="select-event-row"
          *ngFor="let damagingEvent of damagingEvents"
          [value]="damagingEvent.customIdName"
          (click)="selectEvent(damagingEvent)">
          <div class="select-infos-wrapper">
            <span>{{ damagingEvent.description }}, erstellt am {{ damagingEvent.timestamp | date : 'dd.MM.y, HH:mm:ss' }} Uhr</span>
            <div class="open-operations-note" *ngIf="damagingEvent.areOpenOperations">
              <mat-icon>warning</mat-icon>
              <mat-icon>fire_truck</mat-icon>
              <span>Achtung: In diesem Schadensereignis gibt es noch offende oder laufende Einsätze!</span>
            </div>
          </div>
        </mat-radio-button>
      </mat-radio-group>

      <button class="navigate-operations-button" *ngIf="userSelections.isDamagingEventSelected" mat-raised-button color="primary"
          [routerLink]="['/' +  userSelections.selectedDamagingEvent.customIdName ]">
        <mat-icon fontIcon="navigate">assistant_direction</mat-icon>
        <mat-icon fontIcon="fire_truck">fire_truck</mat-icon>
        zu den Einsätzen: {{ userSelections.selectedDamagingEvent.description }}, erstellt am {{ userSelections.selectedDamagingEvent.timestamp | date
        : 'dd.MM.y, HH:mm:ss' }} Uhr
      </button>
    </ng-container>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </div>
</div>
