.missions-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.missions-category-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navigate-operations-button {
  width: 800px;
  mat-icon {
    padding-right: 4px;
  }
}
