<div class="bordered-box">
  <h2>Übersicht Feuerwache</h2>
  <mat-chip-list>
    <table>
      <tr>
        <td>
          <mat-chip [ngStyle]="{'opacity': 1}">
            <span>Lüfter</span>
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Kommando
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            Fahrzeug 7
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Strom
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td class="empty-space">

        </td>
        <td>
          <mat-chip>
            Leiter
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            Lösch
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Tank 1
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            Atem
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Tank 3
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            Rüst
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Voraus
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            Fahrzeug 1
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Tank 2
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            Fahrzeug 4
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Fahrzeug 5
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            Fahrzeug 2
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Fahrzeug 3
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            GSF
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Deko
          </mat-chip>
        </td>
      </tr>
      <tr>
        <td>
          <mat-chip>
            Last 1
          </mat-chip>
        </td>
        <td>
          <mat-chip>
            Last 2
          </mat-chip>
        </td>
      </tr>
    </table>
  </mat-chip-list>


</div>
