h2 {
  padding-bottom: 12px;
  text-align: center;
}

table {
  width: 100%;
  border: 1px solid rgba(0,0,0,.1);

  td {
    border: 1px solid rgba(0,0,0,.1);
    padding: 4px;
    text-align: center;
  }
}

.empty-space {
  border: none;
}

mat-chip {
  cursor: default;
  &:hover {
    background-color: unset !important;
    color: unset !important;
  }
}

.opacity {
  opacity: 0.2;
}
