<div class="dialog-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <form (ngSubmit)="saveOperation(operationForm)" #operationForm="ngForm">

    <div class="operation-capture-container">
      <div class="dialog-content">
        <h1 mat-dialog-title>Einsatz-Erfassung</h1>
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>laufende Nummer</mat-label>
            <input disabled value="{{ operation.operationNumber }}" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Zeitstempel (wird automatisch generiert)</mat-label>
            <input disabled value="{{ operation.timestamp | date : 'dd.MM.y, HH:mm:ss' }}" matInput>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Straße + Hausnummer</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="operation.address" name="address" matInput
              placeholder="Straße + Hausnummer" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ort</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="operation.city" name="city" matInput placeholder="Ort" required>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Anrufer / Melder</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="operation.caller" name="caller" matInput
              placeholder="Name des Anrufers / Melders" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Telefonnummer</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="operation.phone" name="phone" matInput
              placeholder="Name des Anrufers / Melders" required>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Stichwort</mat-label>
          <input [disabled]="isLoading" [(ngModel)]="operation.keyword" name="keyword" matInput
            placeholder="Wasserschaden, Unwetter, Baum auf Straße, Unterstützung Rettungsdienst,..." required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bemerkungen</mat-label>
          <textarea [disabled]="isLoading" [(ngModel)]="operation.comments" name="comments" matInput
            placeholder="Bemerkungen zum Einsatz" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Einsatz eingegeben von</mat-label>
          <input [disabled]="isLoading" [(ngModel)]="operation.calltaker" name="calltaker" matInput
            placeholder="Dein Name (Feuerwehrmann ...)" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Priorität</mat-label>
          <mat-select [disabled]="isLoading" [(ngModel)]="operation.priority" name="priority" required>
            <mat-option *ngFor="let priority of priorities" [value]="priority">
              {{ priority }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="operation-processing-container">
      <div class="dialog-content">
        <h1 mat-dialog-title>Einsatz-Abarbeitung</h1>
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select [disabled]="isLoading" [(ngModel)]="operation.status" name="priority" required>
            <mat-option *ngFor="let stat of status" [value]="stat">
              {{ stat }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-row">
          <mat-form-field [style.width.px]=200 appearance="outline">
            <mat-label>Einsatzleiter</mat-label>
            <textarea [disabled]="isLoading" [(ngModel)]="operation.chief" name="chief" matInput
              placeholder="Einsatzleiter"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Einsatzkräfte</mat-label>
            <textarea [disabled]="isLoading" [(ngModel)]="operation.personal" name="personal" matInput
              placeholder="Namen der Einsatzkräfte"></textarea>
          </mat-form-field>
        </div>

        <div cdkDropListGroup class="form-row">
          <div class="cars-container bordered-box">
            <h4>Fahrzeuge verfügbar</h4>
            <div class="droplist" cdkDropList [cdkDropListData]="firestationService.availableVehicles" cdkDropListSortingDisabled
              (cdkDropListDropped)="drop($event)">
              <mat-chip *ngFor="let vehicle of firestationService.availableVehicles" cdkDrag>{{ vehicle }}</mat-chip>
            </div>
          </div>
          <div class="cars-container bordered-box">
            <h4>Fahrzeuge zugeteilt</h4>
            <div class="droplist" cdkDropList [cdkDropListData]="operation.vehicles" cdkDropListSortingDisabled
              (cdkDropListDropped)="drop($event)">
              <mat-chip *ngFor="let vehicle of operation.vehicles" cdkDrag>{{ vehicle }}</mat-chip>
            </div>
          </div>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Fahrzeuge extern</mat-label>
          <textarea [disabled]="isLoading" [(ngModel)]="operation.externalVehicles" name="externalVehicles" matInput
            placeholder="Fahrzeuge Nachbarwehren, Rettungsdienst, Polizei..."></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Notizen</mat-label>
          <textarea [disabled]="isLoading" [(ngModel)]="operation.notes" name="notes" matInput
            placeholder="Lagemeldungen, angeforderte Geräte..."></textarea>
        </mat-form-field>

        <div mat-dialog-actions>
          <button [disabled]="isLoading" mat-button (click)="dialogRef.close()">abbrechen</button>
          <button [disabled]="isLoading" mat-button>
            <mat-icon fontIcon="save" class="margin-right-4">save</mat-icon>
            drucken
          </button>
          <button [disabled]="isLoading" mat-raised-button color="primary" cdkFocusInitial>
            <mat-icon fontIcon="save" class="margin-right-4">save</mat-icon>
            speichern
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
