<div class="dialog-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <form (ngSubmit)="generateNewDamagingEvent(missionForm)" #missionForm="ngForm">
    <h1 mat-dialog-title>ACHTUNG: Hier erstellst du ein neues Schadensereignis:</h1>
    <div mat-dialog-content>
      <p>Ein Schadensereignis eine Lage, bei der viele Einsätze gleichzeitig auftreten.
        Überlege, ob du wirklich ein neues Schadensereignis anlegen möchtest oder nur einen einzelnen Einsatz bei einem bestehenden Schadensereignis!</p>
      <mat-form-field appearance="outline">
        <mat-label>Kurzbeschreibung des Schadensereignisses</mat-label>
        <input
          [disabled]="isLoading"
          [(ngModel)]="damagingEvent.description"
          name="description"
          matInput
          placeholder="Sturm, Unwetter, Starkregen, Katastropheneinsatz,..."
          required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Zeitstempel (wird automatisch generiert)</mat-label>
        <input
          disabled
          value="{{ damagingEvent.timestamp | date : 'dd.MM.y, HH:mm:ss' }}"
          matInput>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button [disabled]="isLoading" mat-raised-button (click)="onNoClick()">abbrechen</button>
      <button [disabled]="isLoading" mat-raised-button color="warn" cdkFocusInitial (click)="isSaveClicked = true">
        <mat-icon fontIcon="save" class="margin-right-4">save</mat-icon>
        neues Schadensereignis erstellen
      </button>
    </div>
  </form>
</div>
