/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-display: swap; // Instructs the browser to use the fallback font to display the text until the custom font has fully downloaded. This is also known as a “flash of unstyled text” or FOUT.
  color: #34414C;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

app-root {
  display: block;
  height: 100%;
}

p, td, span, input, textarea {
  font-size: 15px !important;
}

.bordered-box {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  padding: 8px;
}

.add-button {
  width: 250px;
  border-radius: 24px;
}

.dialog-container {
  position: relative;

  mat-progress-bar {
    position: absolute;
    left: -24px;
    top: -24px;
    right: -24px;
    width: calc(100% + 48px);
  }
}

.margin-right-4 {
  margin-right: 4px;
}

.tooltip-red {
  background-color: #b71c1c;
  font-size: 12px;
}

.high, .hoch {
  background-color: #ff1d1d;
  color: white;
}

.medium, .mittel {
  background-color: #FFFF00;
}

.low, .niedrig {
  background-color: #ADFF2F;
}
