:host {
  flex: 1;
}

.operations-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.operations-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

mat-card {
  cursor: pointer;
  padding: 4px 8px;
}

table {
  width: 100%;
  border: unset;

  td {
    width: 20%;
    border: unset;

    &:nth-child(3) {
      width: 10%;
    }

    &:last-child {
      width: 50%;
    }
  }
}

.hoch {
  background-color: #ff1d1d;
  color: white;
}

.mittel {
  background-color: #FFFF00;
}

.niedrig {
  background-color: #ADFF2F;
}

.operations-headrow {
  display: flex;
  align-items: center;

  h3 {
    flex: 1;
    text-align: center;
  }
}

mat-chip {
  pointer-events: none;
  margin: 2px;
}

.keyword-text {
  font-size: 15px;
}

.comments-text {
  font-size: 13px;
}

h2 {
  padding: 0;
}

.mat-content {
  display: flex !important;
  align-items: center !important;
  padding-top: 8px !important;
}

.panel-header {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  mat-icon {
    padding-left: 8px;
  }
}

mat-expansion-panel {
  margin-top: 8px;
}

.new-operation-alert {
  margin-left: 48px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  animation: blinker 1s linear infinite;

  mat-checkbox {
    margin-left: 18px;
    margin-right: 6px;
  }

  @keyframes blinker {
    from {
      background-color: white;
    }

    to {
      background-color: rgba(255, 255, 0, 0.879);
    }
  }
}
