<div class="operations-box bordered-box">

  <ng-container *ngIf="!isLoading">

    <div class="operations-headrow">
      <button mat-raised-button class="add-button" color="primary" (click)="addOrEditOperation()">
        <mat-icon fontIcon="add" class="margin-right-4">add</mat-icon>
        Einsatz erstellen
      </button>
      <h3>Schadensereignis: {{ userSelections.selectedDamagingEvent.description }}, erstellt am {{
        userSelections.selectedDamagingEvent.timestamp | date
        : 'dd.MM.y, HH:mm:ss' }} Uhr</h3>
    </div>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header matTooltip="{{ openOperations.length }} offene Einsätze">
        <div class="panel-header">
          <h2>Offen</h2>
          <mat-icon matBadge=" {{ openOperations.length }} " [matBadgeColor]="getBadgeColor(openOperations)">
            assignment_late</mat-icon>
          <!-- Include text description of the icon's meaning for screen-readers -->
          <span class="cdk-visually-hidden">
            operation icon with overlaid badge showing the number of opened operations
          </span>
          <mat-card *ngIf="newOpenOperation" class="new-operation-alert">
            <span>neuer Einsatz!</span>
            <mat-checkbox *ngIf="newOpenOperation" [(ngModel)]="newOpenOperation" color="warn"></mat-checkbox>
            <span>ok</span>
          </mat-card>
        </div>
      </mat-expansion-panel-header>
      <div class="operations-box">
        <mat-card *ngFor="let operation of openOperations" class="{{ operation.priority }}"
          (click)="addOrEditOperation(operation)">
          <table>
            <tr>
              <td>
                <div class="keyword-text">{{ operation.keyword }}</div>
                <div class="comments-text">{{ operation.comments }}</div>
              </td>
              <td>{{ operation.address }}, {{ operation.city }}</td>
              <td>{{ operation.priority }}</td>
              <td>
                <mat-chip *ngFor="let vehicle of operation.vehicles">{{ vehicle }}</mat-chip>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header matTooltip="{{ ongoingOperations.length }} laufende Einsätze">
        <div class="panel-header">
          <h2>Läuft</h2>
          <mat-icon matBadge=" {{ ongoingOperations.length }} " [matBadgeColor]="getBadgeColor(ongoingOperations)">
            assignment</mat-icon>
          <!-- Include text description of the icon's meaning for screen-readers -->
          <span class="cdk-visually-hidden">
            operation icon with overlaid badge showing the number of ongoing operations
          </span>
        </div>
      </mat-expansion-panel-header>
      <div class="operations-box">
        <mat-card *ngFor="let operation of ongoingOperations" class="{{ operation.priority }}"
          (click)="addOrEditOperation(operation)">
          <table>
            <tr>
              <td>
                <div class="keyword-text">{{ operation.keyword }}</div>
                <div class="comments-text">{{ operation.comments }}</div>
              </td>
              <td>{{ operation.address }}, {{ operation.city }}</td>
              <td>{{ operation.priority }}</td>
              <td>
                <mat-chip *ngFor="let vehicle of operation.vehicles">{{ vehicle }}</mat-chip>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header matTooltip="{{ completedOperations.length }} abgeschlossene Einsätze">
        <div class="panel-header">
          <h2>Abgeschlossen</h2>
          <mat-icon matBadge=" {{ completedOperations.length }} " matBadgeColor="primary">assignment_turned_in
          </mat-icon>
          <!-- Include text description of the icon's meaning for screen-readers -->
          <span class="cdk-visually-hidden">
            operation icon with overlaid badge showing the number of completed operations
          </span>
        </div>
      </mat-expansion-panel-header>
      <div class="operations-box">
        <mat-card *ngFor="let operation of completedOperations" class="{{ operation.priority }}"
          (click)="addOrEditOperation(operation)">
          <table>
            <tr>
              <td>
                <div class="keyword-text">{{ operation.keyword }}</div>
                <div class="comments-text">{{ operation.comments }}</div>
              </td>
              <td>{{ operation.address }}, {{ operation.city }}</td>
              <td>{{ operation.priority }}</td>
              <td>
                <mat-chip *ngFor="let vehicle of operation.vehicles">{{ vehicle }}</mat-chip>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
    </mat-expansion-panel>

  </ng-container>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
