<h1>Pegelstände</h1>
<p>Die Daten werden alle 5 Minuten automatisch aktualisiert.</p>

<button *ngIf="showInitButton" mat-raised-button class="init-button" color="basic" (click)="initSelectedStations()">
  <mat-icon fontIcon="water" class="margin-right-4">water</mat-icon>
  zurück zu AHR und RIENZ
</button>
<mat-form-field class="select-gauge-station" appearance="fill">
  <mat-label>Pegelstationen</mat-label>
  <mat-select [(ngModel)]="selectedStationsNames" multiple
    (ngModelChange)="getSelectedStations(); checkShowInitButton()">
    <mat-option *ngFor="let station of allStations" [value]="station.name">{{ station.name }}</mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="selectedStationsData.length != 0">
  <table class="gauge-table">
    <tr>
      <th>Pegelstation</th>
      <th>Pegelstand</th>
      <th>Voralarmschwelle</th>
      <th>Alarmschwelle</th>
      <th>Link Google Maps</th>
    </tr>
    <ng-container *ngFor="let station of selectedStationsData">
      <tr [ngClass]="{
          'medium' : station.w >= station.preAlertThreshold && station.w < station.alertThreshold,
          'high' : station.w >= station.alertThreshold
          }">
        <td>{{ station.name }}</td>
        <td>{{ station.w }} cm</td>
        <ng-container *ngIf="station.preAlertThreshold; else notKnown">
          <td>{{ station.preAlertThreshold }} cm</td>
          <td>{{ station.alertThreshold }} cm</td>
        </ng-container>
        <ng-template #notKnown>
          <td>nicht bekannt</td>
          <td>nicht bekannt</td>
        </ng-template>
        <td>
          <a mat-raised-button
            href="https://www.google.com/maps/search/?api=1&query={{ station.latitude }}, {{ station.longitude }}"
            target="_blank">
            <mat-icon fontIcon="open_in_new" class="margin-right-4">open_in_new</mat-icon>
            <mat-icon fontIcon="map" class="margin-right-4">map</mat-icon>
            Öffne in Google Maps
          </a>
        </td>
      </tr>
    </ng-container>
  </table>
  <br>
  <h1>Durchfluss</h1>
  <table class="flow-table">
    <tr>
      <th>Pegelstation</th>
      <th>Durchfluss</th>
    </tr>
    <tr>
      <td>Bruneck Stadt (berechnet)</td>
      <td>{{ flowLevelBruneck | number: '1.0-2' }} m³/s</td>
    </tr>
    <ng-container *ngFor="let station of selectedStationsData">
      <tr>
        <td>{{ station.name }}</td>
        <td>{{ station.q }} m³/s</td>
      </tr>
    </ng-container>
  </table>
  <br>

  <ng-container *ngFor="let station of selectedStationsData">
    <br>
    <h1>Verlauf {{ station.name }}</h1>
    <img src="{{ station.measurements[1].imageUrl }}" alt="Pegel-Verlauf {{ station.name }}">
    <br>
  </ng-container>
</ng-container>
