<h1>Pegelstände</h1>
<p>Die Seite wird alle 10 Minuten automatisch aktualisiert.</p>
<ng-container *ngIf="stationsData.length != 0">
  <table>
    <tr>
      <th>Pegelstation</th>
      <th>Pegelstand</th>
      <th>Voralarmschwelle</th>
      <th>Alarmschwelle</th>
    </tr>
    <tr>
      <td>{{ stationsData[7].name }}</td>
      <td>{{ stationsData[7].w }} cm</td>
      <td>nicht bekannt</td>
      <td>nicht bekannt</td>
    </tr>
    <tr>
      <td>{{ stationsData[14].name }}</td>
      <td>{{ stationsData[14].w }} cm</td>
      <td>300 cm</td>
      <td>350 cm</td>
    </tr>
  </table>
  <br>
  <h1>Durchfluss</h1>
  <table>
    <tr>
      <th>Pegelstation</th>
      <th>Durchfluss</th>
    </tr>
    <tr>
      <td>Bruneck Stadt (berechnet)</td>
      <td>{{ flowLevelBruneck }} m³/s</td>
    </tr>
    <tr>
      <td>{{ stationsData[7].name }}</td>
      <td>{{ stationsData[7].q }} m³/s</td>
    </tr>
    <tr>
      <td>{{ stationsData[14].name }}</td>
      <td>{{ stationsData[14].q }} m³/s</td>
    </tr>
  </table>
  <br>

  <h1>Verlauf {{ stationsData[7].name }}</h1>
  <img src="{{ stationsData[7].measurements[1].imageUrl }}"
    alt="Pegel-Verlauf Ahr St.Georgen">
  <br>

  <h1>Verlauf {{ stationsData[14].name }}</h1>
  <img src="{{ stationsData[14].measurements[1].imageUrl }}"
    alt="Pegel-Verlauf Rienz Stegen">
</ng-container>
