<h1>Pegelstände</h1>
<p>Die Seite wird alle 10 Minuten automatisch aktualisiert.</p>

<!-- todo: select your desired stations -->

<ng-container *ngIf="selectedStationsData.length != 0">
  <table>
    <tr>
      <th>Pegelstation</th>
      <th>Pegelstand</th>
      <th>Voralarmschwelle</th>
      <th>Alarmschwelle</th>
    </tr>
    <ng-container *ngFor="let station of selectedStationsData">
      <tr>
        <td>{{ station.name }}</td>
        <td>{{ station.w }} cm</td>
        <td>nicht bekannt</td>
        <td>nicht bekannt</td>
      </tr>
    </ng-container>
  </table>
  <br>
  <h1>Durchfluss</h1>
  <table>
    <tr>
      <th>Pegelstation</th>
      <th>Durchfluss</th>
    </tr>
    <tr>
      <td>Bruneck Stadt (berechnet)</td>
      <td>{{ flowLevelBruneck | number: '1.0-2' }} m³/s</td>
    </tr>
    <ng-container *ngFor="let station of selectedStationsData">
      <tr>
        <td>{{ station.name }}</td>
        <td>{{ station.q }} m³/s</td>
      </tr>
    </ng-container>
  </table>
  <br>

  <ng-container *ngFor="let station of selectedStationsData">
    <h1>Verlauf {{ station.name }}</h1>
    <img src="{{ station.measurements[1].imageUrl }}"
      alt="Pegel-Verlauf {{ station.name }}">
    <br>
  </ng-container>
</ng-container>
