<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side">
    <a [routerLink]="['/damaging-events']" class="nav-links" (click)="closeSidenav()">
      <mat-icon fontIcon="missions">library_add</mat-icon>
      <span>alle Schadensereignisse</span>
    </a>
    <a *ngIf="userSelections.isDamagingEventSelected" [routerLink]="[{outlets: {secondary: [userSelections.selectedDamagingEvent.customIdName]} } ]" class="nav-links" (click)="closeSidenav()">
      <mat-icon fontIcon="current-mission">notification_add</mat-icon>
      <span>ausgewähltes Schadensereignis</span>
    </a>
    <!-- <a [routerLink]="['/gauge-stations']" class="nav-links" (click)="closeSidenav()">
      <mat-icon fontIcon="gauge-stations">water</mat-icon>
      <span>Pegelstationen</span>
    </a> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet name="secondary"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
