mat-sidenav-content {
  padding: 12px 24px;
}

:host {
  height: 100%;
  overflow-y: scroll;
}

mat-drawer {
  border-right: 1px solid rgba(0, 0, 0, .1);
  margin-top: 12px;
}

mat-sidenav {
  padding-top: 12px;
}

.nav-links {
  padding: 10px 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #34414C;

  &:hover {
    background-color: #F1F3F4;
  }
}
